<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First html</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Hola con expres y ejs</h1>
</body>
</html>